* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    flex-wrap: nowrap;

    .col-one {
        width: 100%;
        height: 100dvh;
        background-color: rgb(116, 110, 110);
    }

    .col-two {
        width: 100%;
        height: 100dvh;
        background-color: chocolate;
    }

    .col-three {
        width: 100%;
        height: 100dvh;
        background-color: rgb(175, 133, 26);
    }

    .col-four {
        width: 100%;
        height: 100dvh;
        background-color: yellowgreen;
    }
}